/* default font for the website !important overrides everything on the website*/
* {
	font-family: "Roboto" !important;
}

/* Default background color */
body{
	background-color: #FAFAFA;
  margin: 0;
}

/* Default button */
.button {
  background-color: #0000FF;
  border: 2px solid #0000FF;
  color: #FFFFFF;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: black;
  border: 2px solid #0000FF;
}

.buttondisabled{
  background-color: #0000FF;
  border: 2px solid #0000FF;
  color: #FFFFFF;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  opacity: 0.8;
  cursor: not-allowed;
}

/* Company logo */
#logo{
	position:absolute;
  top:0px;
  left:30px;
  bottom: 0px;
  width:50px;
  height:50px;
  overflow:hidden;
}

/* The crown logo */
#adminlogo{
  position:absolute;
  top:9px;
  bottom:9px;
  right: 255px;
  overflow:hidden;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #FFFFFF;
}

/* Links inside the navbar */
.navbar a {
	float: left;
  font-size: 18px;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: #333;
  padding: 14px 16px;
 	background-color: inherit;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Back to top button */
#topbutton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99; /* Make sure it does not overlap */
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 50px;
  font-color: red;
}

.input{
  background-color: #FFFFFF;
  border: 1px solid #8492A6;
  border-radius: 2px;
  opacity: 1;
  width: 427px;
  height: 50px;
  font-size: 18px;

}

.foot{
	height: 50px;
	background-color: black;
	position:fixed;
	bottom: 0;
	width: 100%;

}

.textinput {

   border: 1px solid #8492A6;
   border-radius: 2px;
   opacity: 1;
	 width: 315px;
	 height: 65px;
	 resize: none;

}
.inputsmall{

   border: 1px solid #8492A6;
   border-radius: 2px;
   opacity: 1;
   width: 100px;
   height: 25px
}

.inputsmalllong{

   border: 1px solid #8492A6;
   border-radius: 2px;
   opacity: 1;
   width: 400px;
   height: 25px
}

.dropdownfield{
	background-color: #FFFFFF;
	border: 1px solid #8492A6;
	border-radius: 2px;
	opacity: 1;
	width: 200px;
	height: 25px;
	float:none;
}

.dropdownlong{
  background-color: #FFFFFF;
  border: 1px solid #8492A6;
  border-radius: 2px;
  opacity: 1;
  width: 400px;
  height: 25px;
  float:none;
}

.backbtn{
	color: #274395;
  height: 19.45px;
  text-indent: 50px;
  text-decoration: none;
  cursor: pointer;
}

.title{
  background-color: #3862DE;
  position: fixed;
  font-size: 45px;
  height: 100px;
  width: 100%;
  top:50px;
  left: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  border: none;
  font-weight: bold;
  color: #FFFFFF;
}

.title2{
  font-size: 40px;
  text-indent: 150px;
}

.title3{
  font-size:16px;
  text-indent: 150px;
  line-height: 0px;
  color: #97a2b2;
}
