/* default font for the website !important overrides everything on the website*/
* {
	font-family: "Verdana, Geneva, sans-serif" !important;
}

body{
	background-color: #FAFAFA;
}

button{
	background-color: #0000FF;
	color: #FFFFFF;
	border: 1px solid Black;
	font-style: Lato;
}

body{
	margin: 0;
}

/* Logo */
#logo{
	position:absolute;
    top:0px; 
    left:0px;
    bottom: 0px;
    width:50px;
    height:50px;
    overflow:hidden;
}

#logo:hover{
	background-color: none;
}

/* Navbar container */
.navbar {
  	overflow: hidden;
  	background-color: #333;
}

/* Links inside the navbar */
.navbar a {
	float: left;
  	font-size: 18px;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

/* The dropdown container */
.dropdown {
  	float: right;
  	overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  	font-size: 18px; 
  	border: none;
  	outline: none;
  	color: white;
  	padding: 14px 16px;
 	background-color: inherit;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  	background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  	display: none;
  	position: absolute;
  	background-color: #f9f9f9;
  	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  	float: none;
  	color: black;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
  	text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  	background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  	display: block;
}